@model BibliotecaMVC.Models.Usuario

<h2>Detalles del Usuario</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Nombre de Usuario</dt>
        <dd class="col-sm-10">@Model.NombreUsuario</dd>

        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Model.Rol</dd>

        <dt class="col-sm-2">Fecha de Registro</dt>
        <dd class="col-sm-10">@Model.FechaRegistro.ToShortDateString()</dd>
    </dl>
</div>
<p>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</p>
