@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a BibliotecaMVC</h1>
    <p class="lead">Utiliza el menú de navegación para acceder a las diferentes opciones de CRUD.</p>
</div>
